// General Colors
$primary-color : #fff;
$secondary-color : #fff;

// Main Colors
$black : #000;
$white : #fff;

// Screen Size
$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;